* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.808);
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    width: 100%;
}

.container {
    background-color: white;
    width: 31%;
    margin: auto;
    padding: 12px;
}

.image-of-boot > img {
    width: 400px;
    height: 300px;
   border-radius: 25px;
}

.details {
    /* width: 50%; */
    margin-top: 20px;
    padding: 12px;
}

.two-text-buttons {
    display: flex;
}

p.text-button {
    border: 1px solid gray;
    border-radius: 25px;
    padding: 2px 12px;
    margin-left: 25px;
    margin-bottom: 25px;
}